* {
    margin: 0;
}

.box {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.container {
    border: 1px solid pink;
    width: 90%;
    max-width: 1500px;
    margin-inline: auto;
    position: relative;
    height: 90px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
        );
}

@keyframes scrollright {
    to {
        right: -200px;
    }
}

.i {
    width: 180px;
    height: 90px;
    background-color: pink;
    border-radius: 2rem;
    position: absolute;
    right: calc(200px * 8);
    animation: scrollright 30s linear infinite;
}

/* animation-delay: (duration * delay * -1) */

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
